h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#netForm {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#mySubmit {
    width: 200px; 
    height: 50px; 
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.nodes {
    width: 200px; 
    height: 50px;
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.form-group label {
    margin-right: 10px;
}
